body.home {
    //margin : 0;
    //padding: 0;

    width : 100vw;
    height : 100vh;
    background-color: #F2D1C9;

    // #primary est la section principale
    #primary{
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after{
    // MOBILE FIRST
    width: 100%;
    height: 200%;
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    clip-path: polygon(100% 46%, 50% 100%, 100% 100%);
    // clip-path: polygon(90% 100% , 100% 100% , 70% 100%);
    background-color: #153B50;
    z-index: -1;

    @include desktop{
        clip-path: polygon(90% 0 , 100% 0, 100% 100%, 70% 100%);
        
    }
}
#page{
    margin: 0;
    padding: 0;
}
.page-title{ // TITRE ARCHIVES
    text-align: center;
    font-size: 4rem;
    color: #153B50;
    z-index: -5;
    // L'animation
    animation-name: slider;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.entry-title{
    font-size: (.4em, #{"-0.875rem + 8.333vw"}, 3rem);
    padding-left: 2rem;
}

/*
.accueil{
    font-size: (.8em, #{"-0.875rem + 8.333vw"}, 2rem);
    ul{
        list-style-type: none;
    }
    /*a { text-decoration: none; }
    img{
        display: block;
        border-radius: 200px;
        width: 70%;
    }
}
*/

/* ---------------------------------
    LA LISTE DES COURS EN CASES
------------------------------------ */
.list-cours{
    // Mobile First
    display: flex;
    flex-direction: column; // de haut en bas
    justify-content: space-between;
    align-items: center;
    width: 100%;

    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
        article:hover{ // Quand on hover sur les cases de cours
            background-color: #f5e6e2;
            color: #426A5A;
            box-shadow: none;
            a,h4{
                color: #eec2b7;
                text-shadow: none;
            }
        }
        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; // aligner le contenu des cases au centre 
            width: 90%;
            background-color: #426A5A;
            border-radius : 40px;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 20px;
            box-shadow: -1px 32px 50px -32px rgba(0,0,0,0.75);
            transition: 0.5s all ease-in-out;
            p{
                font-size: .7rem;
                font-weight: bold;
                padding-top: 20px;
            }
            a{ // Titres des cours
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                padding: 10px;
                color : #BAD1CD;
                text-shadow: 4px 4px 12px rgba(0,0,0,0.45);

            }
            h4{ 
                color: #153B50;
            }
        } // fin article
    } // fin section    
}
// *En Format Desktop*
@media screen and (min-width: 37.5em) {
    .list-cours{
    
        section{
            justify-content: center;
            article { 
                width: 30%;
            } // fin article
        } // fin section    
    }
}

.site-title{
    /*font-size: clamp(.9rem, #{"-0.875rem + 8.333vw"}, 4rem);
    margin-bottom: 0;
    a {
        text-decoration: none;
    }*/
    font-family: $font__title;
    font-size: clamp(.9em, #{"-0.875rem + 8.333vw"}, 2.5rem);
    font-weight: bold;
    color: #003;
    margin-bottom: 0;
    a{
       text-decoration: none;
    }
    
}

.site-description{
    /*font-size: clamp(.9rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    margin-top: 0;*/
    font-family: $font__title;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"}, 2rem);
    font-weight: normal;
    color: #003;
    margin-top: 0;
}

/* ----------------------------------------------------------------------------------------------
   LES ANIMATIONS
------------------------------------------------------------------------------------------------- */
// L'animation du titre Archives 
@keyframes slider{
    0%{
        transform: translateX(-100%);
        animation-timing-function: cubic-bezier(0,1.04,.72,1.01); 
    }
    30%,70%{ 
        transform: translateX(0px);
        animation-timing-function: cubic-bezier(1,0,1,.81);
    }
    100%{
        transform: translateX(100%);
        
    }
    
}