.main-navigation {
	display: block;
	width: 100vw;
	

	ul {
		display: none;
		position : absolute;
		width : 100%;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: #721817;
		text-align: left;
		left: 0;
	
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			a {
				width: 100%;
				padding-left: 15px;
			}

		} /* ---sub-menu */

		li:hover > ul,
		li.focus > ul {
			left: 0;
		    // ---cela fait apparaitre le sous menu
			
		}

		// on cherche le a qui est dans le li, et on ajoute un +
		li > a[href="#"]::after {
			content: "+";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 90%; // se tasse vers la droite de 90%
			right : 0;
		}
		li.focus > a[href="#"]::after,
		li > a[href="#"]:hover::after{
			content : "-";
		}


	} // ---nav-menu (ul-principal)

	li {
		position: relative;
	    flex : 1;

	 	&:hover > a,
		&.focus > a {
		}
	

	}

	a {
		display: block;
		text-decoration: none;
		padding: .8rem;
		transition: all 0.5s;
		text-align: center;
		
	}

	a:hover {
		background-color: #380f0e;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
} // ---fin de .main-navigation
/* -----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
	padding :0;
//	transition : transform .25s;
//	transform : rotate(0deg);
	border : 0;
}
.menu-toggle:hover,
.menu-toggle:focus {
    background: #fafbfc;
}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}

/*
.main-navigation.toggled .menu-toggle{
	transform : rotate(90deg);
}
*/

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// ---cela rend le menu visible
}
/* ---------------------------------------------------------------------------
menu tablet
------------------------------------------------------------------------------ */
@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}
	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		position : static;
		justify-content: space-around;
		a[href="#"]::after { // pour cacher les + et - en version desktop
			display:none;
			
		}
		li:hover ul{
			display: block; // ---pour afficher le sous menu quand on le veut en hover
			position: absolute;
			width: 240px;
			height: 450px;  // !! 14h05, Semaine 6 cours 2
			border-radius: 0 0 50px 50px;

			// Animation
			animation-name: height;
    		animation-duration: 2s;
			animation-timing-function: ease-in-out;
		}
		ul {
			display: none;
			// ---cache le sous menu pour qu'il ne soit pas affiche de facon permanente et plutot seulement quand on le veut
		}
	}
}



/* ----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------- */

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}

	
}

